body{
  box-sizing: border-box;
}
.date{
  font-weight: 700;
}
.tbody__currency{
  display: inline-block;
  padding: 5px;
  width: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-top: none;
}